# Data Structures

1. What are data structures, and why are they important?
   - Data structures are ways to organize and store data
     efficiently in memory that can be accessed and manipulated efficiently such as to perform operations like retrieval, insertion, deletion, and modification effectively.
   - They are important because they help in optimizing
     algorithms and improving program efficiency.

2. Difference between mutable and immutable data types
   with examples
   -  Mutable Data Types: Can be changed after creation.
      Example: Lists, dictionaries, sets.
   -  Immutable Data Types: Cannot be changed after
      creation.
      Example: Strings, tuples.

3. Main differences between lists and tuples in Python
   - The main differences between lists and tuples in     
     Python are:
     -> Mutability – Lists are mutable, meaning their elements can be changed, added, or removed after creation, while tuples are immutable and cannot be modified once created.
     ->Performance – Tuples are faster than lists because they have a smaller memory footprint and require less processing power.
     ->Syntax – Lists are defined using square brackets [], whereas tuples use parentheses ().
     ->Usage – Lists are used when data needs to be modified frequently, while tuples are preferred for fixed data that should not change.

4. How do dictionaries store data?
   - Dictionaries store data in key-value pairs using  
     hash tables. Each key is hashed to determine where the value will be stored.

5. Why might you use a set instead of a list in Python?
   - Sets do not allow duplicates.
   - Faster lookups compared to lists.
   - Useful for mathematical operations like union and
     intersection.

6. What is a string in Python, and how is it different from a list?
   - A string is a sequence of characters enclosed in
     quotes (" " or ' ').
     Differences from a list:
     Strings are immutable, while lists are mutable.
     Strings contain only characters, but lists can hold mixed data types.

7. How do tuples ensure data integrity in Python?
   - Tuples are immutable, meaning their values cannot be
     changed after creation. This ensures data remains unchanged and secure.

8. What is a hash table, and how does it relate to dictionaries in Python?
   - A hash table is a data structure that maps keys to
     values using a hash function.
   - Python dictionaries use hash tables to store and
     retrieve key-value pairs in constant time O(1).
9. Can lists contain different data types in Python?
   - Yes, a list can contain mixed data types:
     lst = [1, "hello", 3.14, True]

10. Why are strings immutable in Python?
    - Strings are immutable for:
      Security (avoiding unintended changes).
      Performance optimization (string caching and memory efficiency).

11. What advantages do dictionaries offer over lists for
    certain tasks?
    - Fast lookups (O(1)) compared to lists (O(n) for searches).
    - Key-value storage allows quick access to data.

12. How do sets handle duplicate values in Python?
    - Sets automatically remove duplicate values when
      created.
      s = {1, 2, 2, 3}  # Output: {1, 2, 3}

13. Scenario where using a tuple is preferable over a list
    - When you want to store constant data, e.g., GPS
      coordinates:
      coordinates = (28.6139, 77.2090)  # Delhi's latitude and longitude

14. How does the in keyword work differently for lists  
     and dictionaries?
    - In lists, it checks for the existence of a value.
    - In dictionaries, it checks for the existence of a key.
      Example:    
      lst = [1, 2, 3]
      print(2 in lst)  # True

      dct = {'a': 10, 'b': 20}
      print('a' in dct)  # True (checks for key, not value)

15. Can you modify the elements of a tuple? Why or why
     not?
    - No, tuples are immutable. Once created, their
      elements cannot be changed.

16. What is a nested dictionary, and give an example of   its use case
  - A nested dictionary is a dictionary inside another
     dictionary.
   Example:
   students = {
    "Alice": {"age": 25, "city": "New York"},
    "Bob": {"age": 22, "city": "London"}
     }
   Used when storing structured data.

17. Time complexity of accessing elements in a dictionary
    - O(1) (Constant time) using a hash table.

18. In what situations are lists preferred over dictionaries?
    - When order matters.
    - When data has no unique identifiers (e.g., a list  
      of names).
    - When performing sorting and indexing operations.
    
19. Why are dictionaries considered unordered, and how does that affect retrieval?
    - Dictionaries were unordered before Python 3.7. Now,
      they maintain insertion order but are still optimized for fast key lookups.

20. Difference between a list and a dictionary in terms of data retrieval
    - Lists use index-based retrieval (O(1)).
    - Dictionaries use key-based retrieval (O(1)), making searches more efficient.

In [1]:
#1. Write a code to create a string with your name and print it
my_name = "SNEHA CHAND"
print(f"My name is: {my_name}")

My name is: SNEHA CHAND

In [2]:
#2. Write a code to find the length of the string "Hello World"
length = len("Hello World")
print(f"The length of the string is: {length}")

The length of the string is: 11

In [5]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
string = "Python Programming"
sliced_string = string[:3]
sliced_string

'Pyt'

In [9]:
#4. Write a code to convert the string "hello" to uppercase
string = "hello"
uppercase_string = string.upper()
uppercase_string

'HELLO'

In [8]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
string = "I like apple"
new_string = string.replace("apple", "orange")
new_string

'I like orange'

In [10]:
#6. Write a code to create a list with numbers 1 to 5 and print it
my_list = list(range(1, 6))
my_list

[1, 2, 3, 4, 5]

In [11]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]
my_list = [1, 2, 3, 4]
my_list.append(10)
my_list

[1, 2, 3, 4, 10]

In [12]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
my_list

[1, 2, 4, 5]

In [13]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
second_element

'b'

In [14]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
reversed_list

[50, 40, 30, 20, 10]

In [15]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
my_tuple

(100, 200, 300)

In [16]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
second_to_last_element

'blue'

In [17]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
my_tuple = (10, 20, 5, 15)
min_number = min(my_tuple)
print(f"The minimum number in the tuple is: {min_number}")

The minimum number in the tuple is: 5

In [18]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(f"The index of 'cat' in the tuple is: {index_of_cat}")

The index of 'cat' in the tuple is: 1

In [19]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "orange")
if "kiwi" in fruits:
  print("Kiwi is in the tuple.")
else:
  print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [20]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
my_set

{'a', 'b', 'c'}

In [21]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [22]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
my_set

{1, 2, 3}

In [23]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
union_set

{1, 2, 3, 4, 5}

In [24]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
intersection_set

{2, 3}

In [25]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {
    "name": "John Doe",
    "age": 30,
    "city": "New York"
}
my_dict

{'name': 'John Doe', 'age': 30, 'city': 'New York'}

In [26]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
my_dict

{'name': 'John', 'age': 25, 'country': 'USA'}

In [27]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
name_value

'Alice'

In [29]:
 #24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
my_dict

{'name': 'Bob', 'city': 'New York'}

In [31]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
  print("The key 'city' exists in the dictionary.")
else:
  print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [32]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all.
# Create a list
my_list = [1, 2, 3, 4, 5]
print("List:", my_list)

# Create a tuple
my_tuple = (6, 7, 8, 9, 10)
print("Tuple:", my_tuple)

# Create a dictionary
my_dict = {"name": "John", "age": 30, "city": "New York"}
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (6, 7, 8, 9, 10)
Dictionary: {'name': 'John', 'age': 30, 'city': 'New York'}

In [ ]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted list of random numbers:", random_numbers)

In [35]:
#28.Write a code to create a list with strings and print the element at the third index.
my_list = ["monkfruit", "blueberry", "cherry", "strawberry", "elderberry"]
if len(my_list) > 3:
  print(my_list[3])
else:
  print("The list does not have enough elements.")

strawberry

In [36]:
#29.Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
combined_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [37]:
#30.Write a code to convert a list of strings into a set
my_list = ["monkfruit", "blueberry", "cherry", "strawberry", "elderberry"]
my_set = set(my_list)
my_set

{'blueberry', 'cherry', 'elderberry', 'monkfruit', 'strawberry'}